<header>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      LOGO

      <li>商品一覧<%# link_to '商品一覧' path%></li>
      <li>会員一覧<%# link_to '会員一覧' path%></li>
      <li>注文履歴一覧<%# link_to '注文履歴一覧' path%></li>
      <li>ジャンル一覧<%# link_to 'ジャンル一覧' path%></li>
      <li>ログアウト<%#= link_to 'ログアウト'destroy_user_session_path, method: :delete, class: "nav-link text-light" %></li>

     <span>Search</span>


    <div>
</header>