  注文履歴詳細
  <div class="row">
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </div>

  <div class="row">
  <div class="col -8">
  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  </div>

  <div class="col -4">
     <li>商品合計</li> <li></li><br>
     <li>送料</li> <li>８００円</li><br>
     <li>請求金額合計</li> <li></li><br>
  </div>
  </div>
  